aiofiles
aiogram>=3.3.0
aiohttp
aiosignal
aiosqlite
annotated-types
attrs
certifi
environs
frozenlist
greenlet
idna
magic-filter
marshmallow
multidict
packaging
pydantic
pydantic_core
python-dotenv
setuptools
SQLAlchemy>=2.0.29
typing_extensions
yarl
